#front {
	height: 100vh;
	width: 100vh;

	#front-background {
		display: flex;
		flex-direction: row;
		height: 100%;
		justify-content: space-around;
		position: absolute;
		top: 0;
		width: 100%;

		#front-background-container {
			img {
				height: 100%;
				width: 100%;
			}
		}
	}

	#front-actions-container {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-around;
		position: absolute;
		top: 0;
		width: 100%;

		#front-actions {
			.front-action {
				background-color: lightblue;
				font-size: 25px;
				font-weight: bold;
				margin: 20px auto;
				padding: 10px;
				text-align: center;
				width: 200px;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}