#intro {
	#body {
		.body-header {
			font-size: 50px;
			text-align: center;
			text-decoration: underline;
		}

		.body-mini-header {
			font-size: 20px;
			text-align: center;
		}

		.tutorial {
			padding-bottom: 50px;
		}

		.tutorial-header {
			font-family: chilanka;
			font-size: 40px;
			font-weight: bold;
			padding: 20px 0;
			text-align: center;
		}

		.tutorial-infos {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}

		.tutorial-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 0 50px;
		}

		.info-icon-holder {
			border-radius: 50px;
			height: 100px;
			margin: 10px auto;
			overflow: hidden;
			width: 100px;
		}

		.info-icon {
			height: 100%;
			width: 100%;
		}

		.info-header {
			font-size: 20px;
			font-weight: bold;
			text-align: center;
		}

		.info-video {
			border-radius: 20px;
			margin: 0 auto;
		}

		#start-header {
			font-family: chilanka;
			font-size: 40px;
			padding: 100px 0;
			text-align: center;
		}
	}

	.column {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}