#diningtable {
	background-color: rgba(127, 127, 127, 0.2);
	height: 100vh;
	overflow-y: scroll;
	width: 100vw;

	#action-box {
		background-color: rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		height: 15%;
		justify-content: space-around;
		padding: 5px 0;

		.action-header {
			background-color: white;
			border-radius: 5px;
			border-style: solid;
			margin: 5px 2px;
			padding: 5px;
			text-align: center;
			width: 45%;

			&:hover {
				opacity: 0.1;
			}
		}
	}

	#box {
		height: 85%;
		overflow-y: scroll;

		#header {
			font-weight: bold;
			margin: 10px 0;
			text-align: center;
		}

		#send {
			border-radius: 5px;
			border-style: solid;
			margin: 10px auto;
			padding: 5px 0;
			text-align: center;
			width: 150px;
		}

		#body {
			padding-bottom: 200px;
		}
	}

	#hidden-box {
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: space-around;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100vw;

		#product-info-box {
			background-color: white;
			height: 80%;
			margin: 0 auto;
			overflow-y: scroll;
			width: 80%;

			#product-info-close {
				height: 50px;
				margin: 20px auto;
				width: 50px;
			}

			#image-holder {
				border-radius: 50px;
				height: 100px;
				margin: 0 auto;
				overflow: hidden;
				width: 100px;

				#image {
					height: 100%;
					width: 100%;
				}
			}

			#product-info-header {
				font-size: 20px;
				font-weight: bold;
				padding: 10px 0;
				text-align: center;
			}
			
			.info {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin-bottom: 30px;
				padding: 0 5px;

				.info-header {
					font-weight: bold;
					margin: 7px 0;
					margin-right: 20px;
				}

				.amount {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 100px;

					.amount-action {
						border-radius: 5px;
						border-style: solid;
						border-width: 0.5px;
						height: 35px;
						padding-top: 8px;
						width: 35px;
					}

					.amount-header {
						font-size: 20px;
						font-weight: bold;
						padding: 10px;
					}
				}

				.percentage {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 100px;

					.percentage-action {
						border-radius: 5px;
						border-style: solid;
						border-width: 0.5px;
						height: 35px;
						padding-top: 8px;
						width: 35px;
					}

					.percentage-header {
						font-size: 20px;
						font-weight: bold;
						padding: 10px;
					}
				}
			}

			.options-box {
				margin: 20px auto;
				width: 80%;

				.options-header {
					font-size: 20px;
					font-weight: bold;
				}

				.options {
					.option {
						display: flex;
						flex-direction: row;
						margin: 5px auto;

						.option-touch-disabled {
							background-color: black;
							border-radius: 5px;
							border-style: solid;
							border-width: 0.5px;
							color: white;
							padding: 10px;
							text-align: center;
						}

						.option-touch {
							border-radius: 5px;
							border-style: solid;
							border-width: 0.5px;
							padding: 10px;
							text-align: center;
						}

						.option-price {
							font-weight: bold;
							margin: 0 10px;
						}
					}
				}
			}

			#note {
				margin: 10px auto 0 auto;
				width: 90%;

				#note-header {
					font-weight: bold;
					text-align: center;
				}

				#note-input-container {
					width: 100%;

					#note-input {
						border-radius: 5px;
						border-style: solid;
						border-width: 2px;
						font-size: 15px;
						height: 100px;
						padding: 5px;
						width: calc(100% - 14px);
					}
				}
			}

			#quantity-row {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				#quantity {
					display: flex;
					flex-direction: row;
					justify-content: space-around;

					.quantity-header {
						border-radius: 5px;
						font-size: 20px;
						font-weight: bold;
						padding: 5px 0;
					}

					.quantity-action {
						border-radius: 5px;
						border-style: solid;
						border-width: 0.5px;
						margin: 0 10px;
						padding: 10px;

						.disabled {
							opacity: 0.1;
						}
					}
				}
			}

			#price {
				font-size: 20px;
				font-weight: bold;
				margin-top: 20px;
				text-align: center;
			}

			#item-actions {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				.item-action {
					background-color: white;
					border-radius: 5px;
					border-style: solid;
					border-width: 0.5px;
					font-size: 20px;
					margin: 10px 10px;
					padding: 10px;
					text-align: center;
					width: 100px;
				}
			}
		}

		#alert-box {
			background-color: white;
			display: flex;
			flex-direction: column;
			height: 30%;
			justify-content: space-around;
			margin: 0 auto;
			width: 80%;

			#alert-header {
				font-size: calc(100vw * 0.06);
				font-weight: bold;
				padding: 0 20px;
				text-align: center;
			}
		}

		#show-current-orders-box {
			background-color: white;
			height: 90%;
			margin: 0 auto;
			width: 90%;

			#show-current-orders-headers {
				display: flex;
				flex-direction: column;
				height: 30%;
				justify-content: space-around;

				#show-current-orders-close {
					height: 32px;
					margin: 20px auto;
					width: 32px;
				}

				#show-current-orders-header {
					font-weight: bold;
					margin-top: 10px;
					text-align: center;
				}

				#show-current-orders-send {
					border-radius: 5px;
					border-style: solid;
					border-width: 1px;
					margin: 20px auto;
					padding: 5px;
					text-align: center;
					width: 100px;

					&:hover {
						opacity: 0.1
					}
				}
			}

			#show-current-orders-list {
				height: 70%;
				overflow-y: scroll;

				.current-order {
					border-style: solid;
					border-width: 1px 0;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					padding: 10px;

					.current-order-photo {
						height: calc(100vw * 0.2);
						width: calc(100vw * 0.2);
					}

					.current-order-cost {
						font-weight: bold;
						margin-top: 30px;
					}

					.current-order-delete {
						height: 32px;
						width: 32px;

						&:hover {
							opacity: 0.1;
						}
					}
				}
			}
		}

		#show-table-orders-box {
			background-color: white;
			height: 90%;
			margin: 0 auto;
			width: 90%;

			#show-table-orders-headers {
				display: flex;
				flex-direction: column;
				height: 20%;
				justify-content: space-around;

				#show-table-orders-close {
					height: 32px;
					margin: 0 auto;
					width: 32px;
				}

				#show-table-orders-header {
					font-weight: bold;
					margin-top: 10px;
					text-align: center;
				}

				#show-table-orders-send {
					border-radius: 5px;
					border-style: solid;
					border-width: 1px;
					margin: 20px auto;
					padding: 5px;
					text-align: center;
					width: 100px;

					&:hover {
						opacity: 0.1
					}
				}
			}

			#show-table-orders-list {
				height: 80%;
				overflow-y: scroll;

				.table-order {
					border-style: solid;
					border-width: 1px 0;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					padding: 10px;

					.table-order-photo {
						height: calc(100vw * 0.2);
						width: calc(100vw * 0.2);
					}

					.table-order-cost {
						font-weight: bold;
						margin-top: 30px;
					}

					.table-order-delete {
						height: 32px;
						width: 32px;

						&:hover {
							opacity: 0.1;
						}
					}
				}
			}
		}
	}

	.column {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.errormsg {
		color: darkred;
		text-align: center;
	}
}
