#seeorders {
	background-color: white;
	height: 100vh;
	width: 100vw;

	#box {
		background-color: #EAEAEA;
		height: 100%;
		width: 100%;

		#box-back {
			border-radius: 10px;
			border-style: solid;
			margin: 5px auto;
			padding: 5px;
			text-align: center;
			width: 80px;
		}

		#box-header {
			display: flex;
			flex-direction: column;
			font-weight: bold;
			height: 10%;
			justify-content: space-around;
			text-align: center;
		}

		#items {
			height: 90%;

			.item {
				border-style: solid;
				border-width: 0.5px 0;
				padding: 10px;

				.item-row {
					display: flex;
					flex-direction: row;
					justify-content: space-between;

					.item-image-holder {
						background-color: rgba(0, 0, 0, 0.1);
						border-radius: 50px;
						height: 100px;
						overflow: hidden;
						width: 100px;
					}

					.item-infos {
						font-size: 20px;

						.item-name {
							font-size: 25px;
							margin-bottom: 10px;
						}

						.item-info {
							font-size: 20px;
						}

						.header {
							font-size: 25px;
						}

						#note {
							background-color: rgba(127, 127, 127, 0.2);
							border-radius: 5px;
							margin: 10px 0;
							padding: 5px;
							width: 100px;

							#note-header {
								font-size: 20px;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}

	#hidden-box {
		height: 100vh;
		position: fixed;
		top: 0;
		width: 100vw;

		#disabled {
			background-color: rgba(0, 0, 0, 0.2);
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;
			width: 100%;
		}
	}

	#loading {
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: space-around;
		width: 100vw;
	}

	.loading {
		animation: rotate 1s linear infinite;
		margin: 0 auto;
		height: 48px;
		width: 48px;

		@keyframes rotate {
			from { transform: rotate(0deg) }
			to { transform: rotate(360deg) }
		}
	}
}