#privacy {
	#body {
		height: calc(100vh - 290px);

		#policy-information {
			color: #303030;
			font-size: 20px;
			margin: 0 auto;
			padding: 5px;
			width: 50vw;
		}

		#policy-header {
			color: black;
			font-size: 30px;
			font-weight: bold;
			margin-left: 10px;
			padding: 20px 0;
			text-align: center;
		}

		.policy-list {
			margin-bottom: 50px;
			padding: 5px 10px;
		}

		.policy-item-header {
			font-weight: bold;
			margin-top: 30px;
		}

		.policy-item {

		}

		#policy-question-header {
			font-weight: bold;
		}
	}

	.column {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
